* {
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
}

.row.row-container {
    height: 100vh;
}

.wrapper-left {
    padding: 0;
}

.wrapper-left .header {
    padding-top: 10px;
}

.wrapper-left .body {
    height: calc(100vh - 132px)
}

.body .card .row.row-card-avatar {
    padding: 10px 0;
    padding-right: 20px;
}

.wrapper-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

.search {
    position: relative;
}

.input-search {
    width: 80%;
    height: 40px;
    border-radius: 50px;
    padding: 20px;
    padding-left: 44px;
    background-color: #F0F2F5;
    border: none;
}

.input-search:focus-visible {
    border: none;
    outline: none;
}

.input-search:focus-visible+.icon-search i::before {
    color: #575757;
}

.icon-search {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
}

.body {
    overflow-y: auto;
    padding-left: 50px;
    padding-top: 16px;
    /* border-right: 1px solid #ccc; */
}

.body .card {
    max-height: 100px;
    padding: 0;
    border: none;
    cursor: pointer;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
}

.body .card.active {
    background-color: rgba(205, 196, 249, 0.2);
    /* background-color: #ECF2FF; */
    transition: all 0.2s ease-out;
}

.body .card:hover {
    background-color: rgba(205, 196, 249, 0.2);
    /* background-color: #ECF2FF; */
    transition: all 0.2s ease-out;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.custom-img-head {
    cursor: pointer;
}

.card-friend {
    justify-content: center;
}

.card-head-custom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-head-custom .card-text {
    margin-left: 10px;
}

.custom-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

[class^="note-mess"] {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #E0F4FF;
    background: #FF6C22;
}

[class^="note-mess"] p {
    font-size: 12px;
    font-weight: 700;
}

.custom-img-head {
    flex: 1;
    justify-content: flex-start;
    padding-left: 6px;
}

.custom-img-head .card-title {
    margin: 0;
    margin-left: 10px;
}

.custom-img .img-fluid {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.card-text-sub {
    width: 100%;
    margin-bottom: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-time {
    font-size: 12px;
    color: green !important;
    opacity: 64%;
}

/* right */
.wrapper-right {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
}

.wrap-right-card {
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrap-right-card #emoji {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0;
}

.wrap-right-card .wrapper-chat {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    background: #536976;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.input-custom {
    margin-left: 15px;
    margin-right: 15px;
}

.action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.button-logout {
    padding: 0 10px;
    position: relative;
}

.wrap-send {
    padding-left: 20px;
}

.icon-emoji:hover {
    color: #4887e3;
}

.fa-paperclip:hover {
    color: #414141;
}

.avatar-chat {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper-chat .wrap-user {
    position: relative;
    padding: 10px 0;
}

.wrap-user .user-name {
    position: absolute;
    font-size: 10px;
    padding-top: 12px;
    top: -16px;
    color: #ccc;
}

/* wrapper-private-chat */
[class^="wrapper-private-chat"] {
    background: #00416A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #969696, #00416A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #969696, #00416A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

[class^="wrapper-private-chat"] .wrap-user {
    position: relative;
    padding: 10px 0;
}

.wrap-image-wait {
    position: relative;
}

.btn-del-image {
    position: absolute;
    top: 10px;
    right: 0;
    color: #ccc;
    cursor: pointer;
}

.btn-del-image:hover {
    color: red;
}

.image-wait {
    width: 90px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.image-sended {
    max-width: 250px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    border-radius: 16px !important;
}

.video {
    max-width: 250px;
}

/* wrapper-private-chat */

/* typing */
.chat-bubble {
    background-color: #E6F8F1;
    padding: 2px 9px;
    -webkit-border-radius: 20px;
    /* -webkit-border-bottom-left-radius: 2px; */
    -moz-border-radius: 20px;
    /* -moz-border-radius-bottomleft: 2px; */
    border-radius: 20px;
    /* border-bottom-left-radius: 2px; */
    /* display: inline-block; */
    display: none;
}

.typing {
    align-items: center;
    display: flex;
    height: 17px;
}

.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #6CAD96;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 800px;
    max-height: 80%;
}

.close {
    color: #fff;
    font-size: 48px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}


@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #6CAD96;
    }

    28% {
        transform: translateY(-7px);
        background-color: #9ECAB9;
    }

    44% {
        transform: translateY(0px);
        background-color: #B5D9CB;
    }
}

/* image */
.container-image {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px !important;
    border-radius: 8px;
}

/* screen */
@media (min-width: 320px) {
    .body {
        padding-left: 0;
    }
}

@media (min-width: 576px) {}


@media (min-width: 768px) {
    .search .input-search {
        font-size: 0.875rem;
    }

    .icon-search {
        left: 45px;
    }

    .body {
        padding-left: 20px;
    }

    .card-body {
        padding: 0;
        padding-left: 10px;
    }

    .card-body .card-title {
        margin: 0;
        font-size: 1rem;
    }

    .card-body .card-text {
        text-align: start;
        font-size: 0.875rem;
    }

    .custom-img .img-fluid {
        width: 50px;
        height: 50px;
    }

    .wrapper-right {
        justify-content: flex-start;
    }

    .wrap-right-card .wrapper-chat {
        flex: 1;
        overflow-y: scroll;
        padding-top: 20px;
    }

    .wrapper-right .card {
        padding-right: 0;
    }
}


@media (min-width: 992px) {

    .card-body {
        flex: 1 1 auto;
        padding: 16px 0 16px 10px;
    }

    .custom-img .img-fluid {
        width: 64px;
        height: 64px;
    }

    .card-body .card-title {
        margin: 0;
        font-size: 1rem;
    }

    .card-body .card-text {
        text-align: start;
        font-size: 1rem;
    }

    .search .input-search {
        width: 82%;
    }

    .search .icon-search {
        left: 42px;
    }
}


@media (min-width: 1200px) {

    .search .icon-search {
        left: 46px;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 16px 0 16px 0px;
    }
}

@media (min-width: 1400px) {
    .search .icon-search {
        left: 54px;
    }
}