.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    border-radius: 8px;
    height: 90vh;
}

.card {
    padding: 20px;
}

.wrapper-left {
    height: 80vh;
    padding: 0;
}

.wrapper-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.body {
    overflow-y: auto;
    max-height: 66vh;
    padding-left: 50px;
    margin-top: 20px;
}

.body .card {
    max-height: 100px;
    padding: 0;
    border: none;
}

.body .card:hover {
    background-color: rgba(205, 196, 249, 0.2);
    transition: all 0.2s ease-out;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.custom-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-img-head {
    justify-content: flex-start;
}

.custom-img-head .card-title {
    margin: 0;
    margin-left: 10px;
}

.custom-img .img-fluid {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper-right {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
}

.wrapper-right .card-head {
    width: 100%;
    height: 114px;
    border-radius: 0;
    margin-right: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.wrapper-chat {
    position: fixed;
    bottom: 50px;
    margin-bottom: 50px;
    border: none;
}

.input-custom {
    margin-left: 15px;
    margin-right: 15px;
}

.action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action-button {
    width: 10%;
}